.page-header {
  margin: 0;
  width: 100%;

  &__wrapper {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }
  
  &__link {
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    padding: 20px;
    border: 2px solid black;

    &:hover {
      background: rgba(200,200,200, 0.3);
    }
  }
}