<!--The content below is only a placeholder and can be replaced.-->
  <header class="page-header">
    <div class="page-header__wrapper">
      <ul class="page-header__items">
        <li class="page-header__item"><a routerLink="/verification" class="page-header__link">Верификация</a></li>
        <li class="page-header__item"><a routerLink="/identification" class="page-header__link">Идентификация</a></li>
        <li class="page-header__item"> <a routerLink="history/verification" class="page-header__link">История верификаций</a></li>
        <li class="page-header__item"><a routerLink="history/identification" class="page-header__link">История идентификаций</a></li>
        <li class="page-header__item"><a routerLink="/login" class="page-header__link">Login/ Log out</a></li>
      </ul>
    </div>
  </header>
  <div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
 


