<div class='switcher'>
  <label  class='switcher-label switcher-off' [for]='off'>off</label>
  <input [id]='off' class='switcher-radio-off' type='radio' [name]='value' [value]='off'>
    
  <label class='switcher-label switcher-neutral' [for]='neutral'>neutral</label>
  <input [id]='neutral' class='switcher-radio-neutral' type='radio' [name]='value' [value]='neutral' checked>
    
  <label class='switcher-label switcher-on' [for]='on'>on</label>
  <input [id]='on' class='switcher-radio-on' type='radio' [name]='value' [value]='on'>
  <div class='switcher-slider'></div>
  <div class="switcher__cause">
    <b>Причина отказа</b>
    <textarea name="failure-documentbinding" [id]="value"></textarea>
  </div>
</div>