
<div class="container">
  <h1 class="page__header">Идентификация пользователя</h1>
  <div class="form">
    <div class="form__block">
      <app-toggle [Id] = '"baseData"' (onChanged)="toggleBase($event)" >
      </app-toggle>
      <div class="form__title">Базовые данные</div>
      <app-field [Label]= 'labelName' [Value]='name' ></app-field>
      <app-field [Label]= 'labelSurname' [Value]='surname' ></app-field>
      <app-field [Label]= 'labelBirthday' [Value]='birthday' ></app-field>
      <app-field [Label]= 'labelBirthplace' [Value]='birthplace' ></app-field>
    </div>
    <div class="form__block">
      <app-toggle [Id] = '"location"' (onChanged)="toggleLocation($event)" ></app-toggle>
      <div class="form__title">Место жительства</div>
      <app-field [Label]= 'labelIndex' [Value]='index' ></app-field>
      <app-field [Label]= 'labelCountry' [Value]='country' ></app-field>
      <app-field [Label]= 'labelCity' [Value]='city' ></app-field>
      <app-field [Label]= 'labelAdress' [Value]='address' ></app-field>
    </div>
    <div class="form__block">
      <app-toggle [Id] = '"mainDocument"' (onChanged)="toggleMain($event)" ></app-toggle>
      <div class="form__title">Основной документ</div>
      <app-photo [Path]='"assets/8.jpg"'></app-photo>
      <app-field [Label]= 'labelTypeMain' [Value]='typeMain' ></app-field>
      <app-field [Label]= 'labelNumberMain' [Value]='numberMain' ></app-field>
      <app-field [Label]= 'labelValidityMain' [Value]='validityMain' ></app-field>
    </div>
    <div class="form__block">
      <app-toggle [Id] = '"additionDocument"' (onChanged)="toggleAddition($event)" ></app-toggle>
      <div class="form__title">Дополнительный документ</div>
      <app-photo [Path]='"assets/8.jpg"'></app-photo>
      <app-field [Label]= 'labelTypeAddition' [Value]='typeAddition' ></app-field>
      <app-field [Label]= 'labelNumberAddition' [Value]='numberAddition' ></app-field>
      <app-field [Label]= 'labelValidityAddition' [Value]='validityAddition' ></app-field>
    </div>
    <div class="form__block">
      <app-toggle [Id] = '"binding"' (onChanged)="toggleBinding($event)" ></app-toggle>
      <div class="form__title">Привязка основного и дополнительного документа</div>
      <app-photo [Path]='"assets/8.jpg"'></app-photo>
      <app-photo [Path]='"assets/8.jpg"'></app-photo>
    </div>
    <div class="btn-container">
      <app-button [active]='firstButton' (myClick)='successClick()' [name]='"Идентификация пройдена"'  ></app-button>
      <app-button [active]='secondButton' (myClick)='unsuccessClick()' [name]='"Идентификация не пройдена"' ></app-button>
    </div>
  </div>
</div>